*{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
 
body{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
    background-color: rgba(255, 255, 255, 0.15);
}
 
/*--blog--------------------------*/
#blog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.blog-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
}
.blog-heading span{
    color: #f33c3c;
}
.blog-heading h3{
    font-size: 2.4rem;
    color: #2b2b2b;
    font-weight: 600;
}
.blog-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
}
 
.blog-box{
    /* width:350px; original*/ 
    width: 500px;
    background-color: #ffffff;
    border: 1px solid #ececec;
    margin: 20px 20px;
 
}
.blog-img{
    width:100%;
    height: 300px;
}
.blog-img img{
    width:100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.blog-text{
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.blog-text span{
    color: #f33c3c;
    font-size: 0.9rem;
}
.blog-text .blog-title{
    font-size: 1.3rem;
    font-weight: 500;
    color: #272727;
}
.blog-text p{
    color: #9b9b9b;
    font-size: 0.9rem;
    display: -webkit-box;
    /* -webkit-line-clamp: 3; */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
} 

 


.blog-text label{
    color: #0f0f0f;
    display: inline-block;
    cursor: pointer;
} 

.blog-text a{
    color: #0f0f0f;
}
.blog-text a:hover{
    color: #c74242;
    transition: all ease 0.3s;
}
 
 
@media(max-width:1250px){
 
    .blog-box{
        width: 300px;
    }
} 
@media(max-width:1100px){
    .blog-box{
        width:70%;
    }
}
 
@media(max-width:550px){
   
    .blog-box{
        margin: 20px 10px;
        width: 100%;
    }
    #blog{
        padding:20px;
    }
}

#ch{
    display: none;
}

#ch:checked ~ .blog-par{
    display: block;
}

#ch:checked ~ #blog-p{
    display: none;
}

#ch:checked ~ label{
    display: none;
}

 .blog-par{
    display: none;
 }

 .blog-text #blog-p{
    -webkit-line-clamp: 2;
}
/* blog 2 */
#ch2{
    display: none;
}

#ch2:checked ~ .blog-par2{
    display: block;
}

#ch2:checked ~ #blog-p2{
    display: none;
}
#ch2:checked ~ label{
    display: none;
}
 .blog-par2{
    display: none;
 }

 .blog-text #blog-p2{
    -webkit-line-clamp: 2;
}
/* blog 3 */
#ch3{
    display: none;
}

#ch3:checked ~ .blog-par3{
    display: block;
}

#ch3:checked ~ #blog-p3{
    display: none;
}
#ch3:checked ~ label{
    display: none;
}
 .blog-par3{
    display: none;
 }

 .blog-text #blog-p3{
    -webkit-line-clamp: 2;
}

/* blog 4 */
#ch4{
    display: none;
}

#ch4:checked ~ .blog-par4{
    display: block;
}

#ch4:checked ~ #blog-p4{
    display: none;
}
#ch4:checked ~ label{
    display: none;
}
 .blog-par4{
    display: none;
 }

 .blog-text #blog-p4{
    -webkit-line-clamp: 2;
}

/* blog 5 */
#ch5{
    display: none;
}

#ch5:checked ~ .blog-par5{
    display: block;
}

#ch5:checked ~ #blog-p5{
    display: none;
}

#ch5:checked ~ label{
    display: none;
}
 .blog-par5{
    display: none;
 }

 .blog-text #blog-p5{
    -webkit-line-clamp: 2;
}
/* blog 6 */
#ch6{
    display: none;
}

#ch6:checked ~ .blog-par6{
    display: block;
}

#ch6:checked ~ #blog-p6{
    display: none;
}

#ch6:checked ~ label{
    display: none;
}

.blog-par6{
    display: none;
 }

 .blog-text #blog-p6{
    -webkit-line-clamp: 2;
}

/* blog 7 */
#ch7{
    display: none;
}

#ch7:checked ~ .blog-par7{
    display: block;
}

#ch7:checked ~ #blog-p7{
    display: none;
}

#ch7:checked ~ label{
    display: none;
}

.blog-par7{
    display: none;
 }

 .blog-text #blog-p7{
    -webkit-line-clamp: 2;
}